*{
  font-family: Gill Sans, Arial, sans-serif;
  /*border: 1px solid red;*/
}
body{
	text-align: center;
	background-color: #056466;
}
.navigation {
	display: inline;
	margin-left: 30%;
    padding: 0;
    list-style-type: none;
}
.navigation li{
	display: inline;
	font-size: 150%;
	padding-left: 3%;
}
.name {
	display: inline;
	font-size: 190%;
	margin-left: 0;
	color: white;
	font-family: Papyrus,Arial,sans-serif;
}
.navigation a{
	text-decoration: none;
	color: white;
	padding: 1%;
}
.navigation a:hover {
	color: #056466;
	background: white;
	border-radius: 5px;
}